<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - StackOverflow Api</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.6.6/ui-grid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.6.6/ui-grid.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.6.6/ui-grid.pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.6.6/ui-grid.min.css" />

    <link href="~/Scripts/Custom/Styles/global.less" rel="stylesheet" />
    <script src="~/Scripts/Custom/JS/Global.js"></script>
    <script src="~/Scripts/Custom/JS/LandingPage.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



</head>
<body >


    <div ng-app="app">
        @Html.Partial("../StackOverflow/Partial/Top")
        <div class="body-content textData">
            <h1>
                Stack Overflow 
            </h1>
            <p>
                Stack Overflow is a question and answer site for professional and enthusiast programmers. It is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It features questions and answers on a wide range of topics in computer programming. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers of Coding Horror, Atwood's popular programming blog.
            </p> 
        </div>
        <div class="col-sm-12 img">
            
        </div>
        <div class="container ">
            <div class="col-sm-12">
                @*<div class="col-sm-3">
               
                </div>
                <div class="col-sm-8 col-sm-offset-1">*@
                    <div class="body-content">
                        @RenderBody()
                        <hr/>         
                    </div>
                @*</div>*@                  
            </div>       
        </div>
    </div>

<footer>
    <p>&copy; @DateTime.Now.Year - Krzysztof Abram</p>
</footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
